/* CSS Document */
.main{ padding:0 4%;}
.profile{ width:100%; padding:1.2rem 0 0.4rem; margin-top:3rem; background:#fff; position:relative;}
.profile div{ width:6rem; height:6rem; text-align:center; line-height:6rem; font-size:1.8rem; color:#fff; position:absolute; left:-1.6rem; top:-2rem; background:url(../img/icon_star.png) no-repeat center center/5.8rem auto;}
.profile img{ width:25%; display:block; margin:0 auto;}
.profile p{ line-height:3.6rem; font-size:2.0rem; color:#666; text-align:center;}
.profile span{ height:2rem; line-height:2rem; font-size:1.3rem; color:#666; padding-left:2.2rem; background:url(../img/icon_check.png) no-repeat left center/auto 1.8rem; position:absolute; right:5%; top:1.5rem;  }
.ul_policy { margin:2.6rem 0 3rem 0;}
.ul_policy li{ display:-webkit-box; background:url(../img/icon_dot.png) repeat-y 0.6rem center;}
.ul_policy div:first-of-type{ -webkit-box-flex:1; width:2rem; background:url(../img/icon_active.png) no-repeat left 0.8rem/1.2rem auto;}
.ul_policy div:last-of-type{ -webkit-box-flex:1; width:80%; padding:1.2rem 5%; margin-bottom:1.4rem; background:#fff; position:relative;}
.ul_policy div:last-of-type:after{ width:10px; height:24px; display:block; content:""; position:absolute; left:-10px; top:8px; background:url(../img/icon_trim.png) no-repeat center center/0.8rem auto;}
.ul_policy p{ line-height:2.4rem;}
.ul_policy p span{ font-size:1.5rem; color:#666;}
.ul_policy p span:first-of-type{ width:50%; float:left;}
.ul_policy p span:last-of-type{ width:50%; float:right;}
.ul_policy em{ font-style:normal; color:#1488B3;}